.picture__content{
    max-width: 80vw;
    max-height: 80vh;
    margin: auto;
    /*margin-top: 50%;*/
    
    position: relative;
    display:block;
}
.picture__container{
    margin: auto auto;
    position: relative;
    
}
.picture{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    display: none;
    align-items: center;
    justify-content: center;
}

.picture_is-open{
    display:flex;
}
